body {
  background-color: black !important;
}

.page-item {
  cursor: pointer;
  user-select: none;
}

.page-link {
  background: black !important;
  border-color: rgb(255, 197, 147) !important;
  color: rgb(255, 197, 147) !important;
}
